@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.display {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.heading {
  font-family: 'Lobster', cursive;
}
